* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    height: 50%;
    width: 250px;
    /* Kutunun dışında 10 px boşluk demek */
    margin: 10px;
}

.red {
    background-color: red;
    margin-left: 50px;
    /* Yan yana verdiğimizde üst aşağı ... diye gidiyor */
    padding: 20px 0px;
}

.blue {
    background-color: blue;
    margin-bottom: 50px;
}

.green {
    background-color: green;
    margin: 100px 20px 70px 50px;
}
